<!DOCTYPE html>
    <html>
        <head>
            <title>
                SFIA2 - Colour Picker
            </title>
        </head>
        <body>
            <h1>
                 Colour Picker
            </h1>

            <p>
                {{ colourpicked }}
            </p>

            <p>
            <button onclick="window.location.reload();">
                Pick Colour
            </button>
            </p>
            <!-- Lists the last 8 colours picked -->
            {%  for colours in colourspicked %}
                
            <table>
                
            <tr>
                
                <td><b>Colour: </b><i>{{ colours.Picked }}</i> </td> 
                <td> <b> Date: </b>  <i>{{  colours.ColourCreated }} </i> </td>
            </tr>
            </table>

            {%  endfor %}
            
        </body>
    </html>    