<!DOCTYPE html>
    <html>
        <head>
            <title>
                SFIA2 - Colour Picker
            </title>
        </head>
        <body>
            <h1>
                Colour Picker
            </h1>

            <p>
                {{ colourpicked }}
            </p>

            <button onclick="window.location.reload();">
                Pick Colour
            </button>

            <!-- Lists the last 8 colours picked -->
            {%  for colours in colourspicked %}
                
            <table>
            <tr>
                <b>Colour: </b><i>{{ colours.Picked }}</i> <b> Date: </b>  <i>{{  colours.ColourCreated }} </i> 
            </tr>
            </table>

            {%  endfor %}
            
        </body>
    </html>    